<!DOCTYPE html>
<html>
<head>
    <title>Tech Blog</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if loggedIn}}
                <li><button id="logout">Logout</button></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>