{{#each posts as |post|}}
    <h1>Dashboard</h1>
    <ul>
        {{#each post}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
{{/each}}
<h2 id="new-post-heading">Create New Post:</h2>
<div class="submit-form-container">
  <form class="new-post-form">
    <input id='post-title' type="text" name="post_title" placeholder="Post Title" required>
    <textarea id='post-content' name="post_content" placeholder="Post Content" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>

<script src="/js/post.js"></script>