{{#extends "layout"}}

{{#content "title"}}Dashboard{{/content}}

{{#content "body"}}
    <h1>Dashboard</h1>
    <ul>
        {{#each posts}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
    <a href="/dashboard/create">Create New Post</a>
{{/content}}