{{#extends "layout/main.handlebars"}}

{{#content "title"}}Home{{/content}}

{{#content "body"}}
    <h1>Welcome to the Blog</h1>
    {{#if posts.length}}
    {{#each posts as |post|}}
        <ul>
            {{#each post}}
                <li>
                    <h2>{{this.title}}</h2>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available.</p>
    {{/if}}
{{/content}}