{{#extends "layout"}}

{{#content "title"}}Home{{/content}}

{{#content "body"}}
    <h1>Welcome to the Blog</h1>
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <li>
                    <h2>{{this.title}}</h2>
                    <p>Date Created: {{this.createdAt}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available.</p>
    {{/if}}
{{/content}}